.body-content {
  height: 100%;
  padding: 32px;
  color: #494d5f;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: cener;
}

.legend-color {
  width: 24px;
  height: 12px;
  display: inline-block;
  background-color: blue;
}

.legend-text {
  margin-left: 8px;
  font-size: 11px;
}

.row {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}

#chartContainer {
  max-width: 80%;
  margin-top: 32px;
}

#myChart {
  height: 100%;
  width: 100%;
}
